*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #19072A;
}
main {
    width: 1366px;
    height: 2000px;
    background-color: aquamarine;
    margin: auto;
}
header {
    width: 1366px;
    height: 200px;
    background-color: #19072A;
    font-family: "Tsukimi Rounded", sans-serif;
}

#logo {
    width: 180px;
    padding: 8px;
    position: absolute;
}

#titulo {
    text-align: center;
    position: absolute;
    margin-left: 500px;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
}

#subtitulo {
    text-align: center;
    position: absolute;
    margin-left: 480px;
    color: #ff8ee3;
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    margin-top: 100px;
}

nav {
    width: 1366px;
    height: 60px;
    background-color: #19072A;
    display: inline-block;
    font-family: "Tsukimi Rounded", sans-serif;
    border-bottom: #ff8ee3 5px dotted;
}
nav a{
    text-decoration: none;
    transition: .5s ease;
    position: relative;
    font-size: 30px;
    padding: 25px;
    top: 13px;
    left: 650px;
}
nav a:nth-child(1){
    color: rgb(255, 142, 227);
}
nav a:nth-child(1):hover{
    text-shadow: rgb(255, 18, 192) 2px 1px 5px,
    2px 1px 10px rgb(255, 18, 192);
}
nav a:nth-child(2){
    color: rgb(167, 223, 255);
}
nav a:nth-child(2):hover{
    text-shadow: rgb(0, 174, 255) 2px 1px 5px,
    2px 1px 10px rgb(0, 174, 255);
}
nav a:nth-child(3){
    color: rgb(255, 142, 227);
}
nav a:nth-child(3):hover{
    text-shadow: rgb(255, 18, 192) 2px 1px 5px,
    2px 1px 10px rgb(255, 18, 192);
}
nav a:nth-child(4){
    color: rgb(167, 223, 255);
}
nav a:nth-child(4):hover{
    text-shadow: rgb(0, 174, 255) 2px 1px 5px,
    2px 1px 10px rgb(0, 174, 255);
}
section {
    width: 1366px;
    height: 1400px;
    background-color: #19072A;
}

.exp {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
    position: absolute;
    font-size: 20px;
}

.exppar {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 50px;
    font-size: 20px;
}

#suchi1 {
    float: right;
    /*filter: drop-shadow(2px 2px 1px rgb(255, 162, 236));*/
    width: 500px;
}

.esp {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
    position: absolute;
    margin-top: 125px;
    font-size: 22px;
}

.neonroll {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
    position: absolute;
    margin-top: 150px;
    font-size: 20px;
}

.desc1 {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 175px;
    font-size: 20px;
}

.wavessachimi {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
    position: absolute;
    margin-top: 225px;
    font-size: 20px;
}

.desc2 {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 250px;
    font-size: 20px;
}

.neontempura {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
    position: absolute;
    margin-top: 300px;
    font-size: 20px;
}

.desc3 {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 328px;
    font-size: 20px;
}

.nexp {
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 30px;
    position: absolute;
    margin-left: 700px;
    margin-top: 400px;
}
.trago{
    padding: 8px;
    width: 400px;
    float: left;
    margin-left: 110px;
    margin-top: 400px;
}
.lu{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 22px;
    position: absolute;
    margin-left: 700px;
    margin-top: 450px;
}
.desc4{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 480px;
    margin-left: 700px;
    font-size: 20px;
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
}
.dj{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 22px;
    position: absolute;
    margin-left: 700px;
    margin-top: 530px;
}
.desc5{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 560px;
    margin-left: 700px;
    font-size: 20px;
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
}
.mic{
    padding: 8px;
    width: 600px;
    float: right;
    margin-right: 100px;
    margin-top: 400px;
}
.promos{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 35px;
    position: absolute;
    margin-right: 700px;
    margin-top: 800px;
}
.happy{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 22px;
    position: absolute;
    margin-right: 700px;
    margin-top: 850px;
}
.desc6{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 880px;
    margin-right: 700px;
    font-size: 20px;
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
}
.noche{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(255, 142, 227);
    text-shadow: rgb(255, 18, 192) 2px 1px 5px;
    font-size: 22px;
    position: absolute;
    margin-right: 700px;
    margin-top: 930px;
}
.desc7{
    padding: 8px;
    font-family: "Tilt Neon", sans-serif;
    color: rgb(167, 223, 255);
    position: absolute;
    margin-top: 958px;
    margin-right: 700px;
    font-size: 20px;
    text-shadow: rgb(0, 174, 255) 2px 1px 5px;
}


footer{
    border-top: aqua 6px ridge;
    background-color: #19072A;
    height: 330px;
    width: 1316px;
    padding: 25px;
}
footer h2{
    margin-left: 350px;
    font-family: "Tsukimi Rounded", sans-serif;
    color: white;
    float: left;
}
footer img{
    float: left;
    border-bottom: none;
    width: 250px;
    height: 250px;
}
.footer{
    padding: 8PX;
    color: aqua;
    text-decoration: none;
    display: inline-block;
    margin-left: 350px;
    font-family: "Tsukimi Rounded", sans-serif;
    border-left: #FA207E 6px ridge;
    font-size: 25px;
}
footer ul{
    list-style-type: none;
}
